.featured-article__data,
.featured-article__rating,
.rate-menu { display: flex; }

.featured-article__rating {
  $rate-spacing: rem-calc(4);

  margin-bottom: rem-calc(30);

  @include respond-to(medium) { flex-direction: column; }
  @media #{$small-only} {
    justify-content: space-between;
    width: 100%;
  }

  .rate-menu { justify-content: space-between; }

  .rate-button {
    align-items: center;
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    padding: rem-calc(6 8);
    text-align: center;
    transition: background-color $transition-default;
    width: calc(50% - #{$rate-spacing / 2});

    &::before {
      background: url('/src/images/icons/icon_like.png') no-repeat center;
      background-size: contain;
      content: '';
      display: inline-block;
      height: rem-calc(14);
      width: rem-calc(18);
    }//icon

    &--dislike::before { transform: rotate(180deg); }
    &--active { background-color: $success-color; }

    &:hover {
      background-color: $secondary-color;

      &.rate-button--active,
      &.rate-button--dislike { background-color: $alert-color; }
    }
  }//rate button
}//article rating

.featured-article__details {
  margin-bottom: rem-calc(20);
  @include respond-to(medium) { margin-left: rem-calc(20); }

  p {
    font-weight: $global-weight-bold;
    margin: 0;
  }
}//article data

.featured-article__data {
  @media #{$small-only} {
    flex-direction: column;

    .featured-article__rating { order: 1; }
    .featured-article__details { order: 0; }
  }
}//article data behaviour

.article-score {
  border: 1px solid $medium-gray;
  font-size: rem-calc(25);
  font-weight: $global-weight-bold;
  line-height: 1;
  padding: rem-calc(10 15);

  &--small {
    font-size: rem-calc(16);
    padding: rem-calc(8 13);
  }

  @media #{$small-only} {
    font-size: rem-calc(16);
    padding: rem-calc(8 13);
  }
  @include respond-to(medium) { margin-bottom: rem-calc(3); }
}//article score
