//Buttons
.btn {
  background-color: $primary-color;
  border-radius: rem-calc(4);
  color: $white;
  font-size: rem-calc(14);
  font-weight: $global-weight-bold;
  line-height: 1;
  padding: rem-calc(12 25);
  transition: background-color $transition-default;

  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}//btn
