//Featured Article
.featured-article {
  $thumbnails-length: 5;

  margin-bottom: rem-calc(30);

  .featured-article__gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .featured-article__video,
  .featured-article__downloads,
  .featured-article__thumbnails { width: 100%; }

  .featured-article__video {
    position: relative;

    .play-btn {
      $dimension: rem-calc(80);
      @include absolute-center;

      background: url('/src/images/icons/icon_play.png') no-repeat left top;
      background-size: cover;
      height: $dimension;
      transition: opacity $transition-default;
      width: $dimension;

      &:hover { opacity: .5; }
    }//play btn
  }//feature video

  .featured-article__thumbnails {
    margin-top: rem-calc(25);

    .container { display: flex; }
  }

  //Generate thumbnails
  .featured-article__thumbnail {
    height: rem-calc(190);
    position: relative;
    transition: opacity $transition-default;
    width: calc(100% / #{$thumbnails-length});

    &:hover { opacity: .9; }

    @for $i from 1 through $thumbnails-length {
      &:nth-of-type(#{ $i }) {
        background: url('/src/images/video_thumb_0#{$i}.jpg') no-repeat center;
        background-size: cover;
      }
    }

    @media #{$small-only} {
      height: rem-calc(110);
      width: calc(100% / 3);

      &:nth-child(3)::before {
        @include absolute-center;

        align-items: center;
        background-color: rgba($black, .6);
        color: $white;
        content: '+#{$thumbnails-length - 3} more photos';
        display: flex;
        font-size: rem-calc(14);
        height: 100%;
        justify-content: center;
        padding: 0 rem-calc(8);
        text-align: center;
        width: 100%;
      }

      &:nth-child(1n + 4) { display: none; }
    }
  }//thumbnails

  @media #{$small-only} { .featured-article__video .container { margin: 0; } }

  @include respond-to(large) {
    .featured-article__thumbnails { order: 2; }

    .featured-article__video {
      order: 0;
      width: 60%;
    }

    .featured-article__downloads {
      order: 1;
      width: 40%;
    }
  }//breakpoint large
}//featured article
