// -----------  BASE STYLES ---------- //

html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

*,
*::before,
*::after { box-sizing: inherit; }

body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  margin: 0;
  padding: 0;

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media #{$small-only} { padding-top: $mobile-nav-height + $nav-margin-bottom; }
}//body

img {
  display: inline-block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: $global-button-cursor;
  line-height: 1;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea { font-family: inherit; }

// Typography resets
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  color: $dark-gray;
  font-size: inherit;
  line-height: $paragraph-lineheight;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;
}

// Strong text
strong,
b {
  font-weight: $global-weight-bold;
  line-height: inherit;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  margin-bottom: $header-margin-bottom;
  text-rendering: $header-text-rendering;
}

//Iterate through Headings and deal with Media Queries

@for $i from 1 through 6 {
  h#{$i} {
    $font-size: map-get($header-styles, h#{$i});

    font-size: $font-size;

    @media #{$small-only} { font-size: $font-size * .9; }
  }
}

// Links
a {
  color: $anchor-color;
  cursor: pointer;
  line-height: inherit;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:focus {
    color: $anchor-color-hover;

    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }

  img { border: 0; }
}

// Lists
ul,
ol { margin-bottom: $list-margin-bottom; }

// List items
li { font-size: inherit; }
ul { list-style-type: $list-style-type; }

//Main container class
.container {
  margin: 0 rem-calc(20);
  max-width: $global-width;
}

//Helpers, we shouldn't use important but since is a conditional is fine that overrides the hard way
.hide--small-only { @media #{$small-only} { display: none !important; } }
