//More articles section
.more-articles {
  margin-bottom: rem-calc(30);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .more-articles__thumb {
    width: calc(100% / 3.2);

    @media #{$small-only} { width: 100%; }
  }

  .article-thumb__image {
    height: rem-calc(190);
    width: 100%;
  }

  @for $i from 1 through $video-thumbs {
    .more-articles__thumb:nth-of-type(#{ $i }) .article-thumb__image {
      background: url('/src/images/other_thumb_0#{$i}.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .article-thumb__details {
    margin-top: rem-calc(15);

    h5 { margin-bottom: rem-calc(5); }
  }
}//more articles section
