.nav {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  height: $mobile-nav-height;
  left: 0;
  margin-bottom: $nav-margin-bottom;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @include respond-to(medium) {
    height: auto;
    padding: rem-calc(20) 0;
    position: relative;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
  }

  .nav__logo { width: rem-calc(90); }//logo

  .nav__link {
    font-size: rem-calc(14);
    text-transform: uppercase;

    &:not(:last-of-type)::after {
      content: '|';
      margin-left: rem-calc(8);
    }//separator
  }//nav link

  .nav__link--active {
    color: $black;
    font-weight: $global-weight-bold;
  }
}//navigation section
