// General Basic Variables and elements setup
$global-font-size: 100% !default;
$global-width: rem-calc(1400) !default;

$primary-color: #33a5f6 !default;
$secondary-color: #212121 !default;

$black: #0a0a0a !default;
$white: #fff !default;
$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;

$body-font-color: $black !default;

/// Font stack of the body.
$body-font-family: 'Roboto', sans-serif !default;
$body-antialiased: true !default;

//Fonts Weights
$global-weight-normal: 400 !default;
$global-weight-bold: 500 !default;
$global-lineheight: 1.5;

$global-button-cursor: auto !default;
$screen: "only screen" !default;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px
) !default;

$small-only: "#{$screen} and (max-width: #{map-get($breakpoints, medium) - 1})" !default;

$header-font-family: $body-font-family !default;
$header-font-weight: $global-weight-bold !default;
$header-font-style: normal !default;
$header-color: inherit !default;
$header-lineheight: 1.4 !default;
$header-margin-bottom: .6rem !default;

$header-styles: (
  'h1': rem-calc(48),
  'h2': rem-calc(40),
  'h3': rem-calc(31),
  'h4': rem-calc(25),
  'h5': rem-calc(20),
  'h6': rem-calc(16),
) !default;

$header-text-rendering: optimizeLegibility !default;
$paragraph-lineheight: 1.6 !default;
$paragraph-margin-bottom: 1rem !default;
$paragraph-text-rendering: optimizeLegibility !default;

$anchor-color: $secondary-color !default;
$anchor-color-hover: scale-color($anchor-color, $lightness: 25%) !default;
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: none !default;
$list-lineheight: $paragraph-lineheight !default;
$list-margin-bottom: $paragraph-margin-bottom !default;
$list-style-type: disc !default;
$list-style-position: outside !default;

// Transition timings
$transition-fast: .25s;
$transition-normal: .5s;
$transition-slow: 1s;
$transition-in-out: ease-in-out;
$transition-in: ease-in;
$transition-out: ease-out;
$transition-default: $transition-fast $transition-in-out;
$single-transition-default: $transition-fast, $transition-in-out;

//Navigation
$mobile-nav-height: rem-calc(60);
$nav-margin-bottom: rem-calc(25);
